.editor-layout {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, auto);
  height: max(400px, calc(100vh - 50px));

  --sp-layout-height: 100%;

  .side-bar {
    display: none;
  }

  &.with-sidebar {
    grid-template-columns: 1fr 500px;

    .side-bar {
      display: grid;
      grid-template-rows: auto 1fr auto 1fr;
    }
  }
}

.code-editor {
  grid-area: 1 / 1 / 2 / 2;
}

.tests-panel {
  display: none !important;
}

.console {
  overflow-y: auto;
}

.console-item > pre {
  white-space: normal;
}

.side-bar {
  grid-area: 1 / 2 / 3 / 3;
  background-color: var(--sp-colors-surface1);
}

.side-bar-title {
  border-bottom: 1px solid var(--sp-colors-surface2);
  padding: 0 var(--sp-space-2);
  margin: 0;
  min-height: 42px;
  display: flex;
  align-items: center;
  background: var(--sp-colors-surface1);
  z-index: 1;

  &:not(:first-child) {
    border-top: 1px solid var(--sp-colors-surface2);
  }
}

.service-bar {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  font-family: var(--main-font-family);
  font-size: calc(0.85 * var(--main-font-size));
  line-height: var(--main-line-height);
}

.toggle-sidebar {
  position: absolute;
  top: var(--sp-space-2);
  right: var(--sp-space-2);
}

.next-task-button {
  position: absolute;
  top: var(--sp-space-2);
  right: var(--sp-space-11);
  padding: var(--sp-space-3);
  height: var(--sp-space-7);
}

@media (max-width: 720px) {
  .editor-layout.with-sidebar {
    grid-template-columns: 1fr;
  }

  .side-bar {
    grid-area: 1 / 1 / 2 / 2;
  }
}
