.editor-layout {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, auto);
  height: max(400px, 100%);

  --sp-layout-height: 100%;

  .side-bar {
    display: none;
  }

  &.with-sidebar {
    grid-template-columns: 1fr 300px;

    .side-bar {
      display: block;
    }
  }
}

.code-editor {
  grid-area: 1 / 1 / 2 / 2;
}

.tests-panel {
  display: none !important;
}

.side-bar {
  grid-area: 1 / 2 / 3 / 3;
}

.service-bar {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  font-family: var(--main-font-family);
  font-size: calc(0.85 * var(--main-font-size));
  line-height: var(--main-line-height);
}

.toggle-sidebar {
  position: absolute;
  top: var(--sp-space-2);
  right: var(--sp-space-2);
}

.next-task-button {
  position: absolute;
  bottom: var(--sp-space-2);
  right: var(--sp-space-2);
  padding: var(--sp-space-3);
  height: var(--sp-space-7);
}

@media (max-width: 720px) {
  .editor-layout {
    &.with-sidebar {
      grid-template-columns: 1fr;
    }
  }

  .side-bar {
    grid-area: 1 / 1 / 2 / 2;
  }
}
