.editor-layout {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, auto);
  height: clamp(400px, calc(100vh - 50px), 2000px);

  --sp-layout-height: 100%;

  .side-bar {
    display: none;
  }

  &.with-sidebar {
    grid-template-columns: 1fr 500px;

    .side-bar {
      display: grid;
      grid-template-rows: auto 1fr auto 1fr;
    }
  }
}

.code-editor-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  overflow: hidden;
}

.code-editor {
  height: 100%;
}

.code-reset {
  position: absolute;
  top: 7px;
  right: 7px;
}

.tests-panel {
  display: none !important;
}

.console {
  overflow-y: auto;
}

.console-item > pre {
  white-space: normal;
}

.side-bar {
  grid-area: 1 / 2 / 3 / 3;
  background-color: var(--sp-colors-surface1);
}

.side-bar-title {
  border-bottom: 1px solid var(--sp-colors-surface2);
  padding: 0 var(--sp-space-2);
  margin: 0;
  min-height: 42px;
  display: flex;
  align-items: center;
  background: var(--sp-colors-surface1);
  z-index: 1;
  color: var(--sp-syntax-color-plain);

  &:not(:first-child) {
    border-top: 1px solid var(--sp-colors-surface2);
  }
}

.service-bar {
  grid-area: 2 / 1 / 3 / 2;
}

@media (max-width: 850px) {
  .editor-layout.with-sidebar {
    grid-template-columns: 1fr;
  }

  .side-bar {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.cm-line-highlight {
  position: relative;

  &::before {
    content: "+";
    position: absolute;
    background-color: #3bff492b;
    width: calc(100% + var(--sp-space-4) * 2);
    pointer-events: none;
    left: calc(var(--sp-space-4) * -1);
    padding-left: 7px;
    z-index: -1;
  }
}
