@layer reset, variables, global, custom;

@layer custom {
  .astro-code,
  .astro-code span {
    background-color: rgb(var(--gray-light)) !important;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }
}
