@layer reset, variables, global, custom;

@layer global {
  /* Typography */

  @font-face {
    font-family: "PTMonoWeb";
    src: url("/fonts/pt-mono_regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "PTMonoWeb";
    src: url("/fonts/pt-mono_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "PTAstraSansWeb";
    src: url("/fonts/pt-astra-sans_bold-italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "PTAstraSansWeb";
    src: url("/fonts/pt-astra-sans_italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "PTAstraSansWeb";
    src: url("/fonts/pt-astra-sans_bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "PTAstraSansWeb";
    src: url("/fonts/pt-astra-sans_regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  /* General */

  body {
    background: light-dark(var(--color-white), var(--color-black));
    color: light-dark(var(--color-black), var(--color-grey-light));
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4 {
    color: light-dark(var(--color-black), var(--color-white));
  }

  a,
  blockquote,
  ul,
  ol,
  p,
  time {
    hyphens: auto;
  }

  code {
    font-family: "PTMonoWeb", monospace;
  }

  /* main {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 3em 1em;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem 0;
    line-height: 1.2;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.553em;
  }

  h4 {
    font-size: 1.163em;
  }

  h5 {
    font-size: 1em;
  }

  strong,
  b {
    font-weight: 700;
  }

  a {
    color: var(--accent);
  }

  a:hover {
    color: var(--accent);
  }

  p {
    margin-bottom: 1em;
  }

  .prose p {
    margin-bottom: 1em;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    padding: 2px 5px;
    background-color: light-dark(rgb(var(--gray-light)), rgb(var(--gray-dark)));
    font-size: 0.85em;
    font-weight: 400;
  }

  pre {
    padding: 1.5em;
  }

  pre > code {
    background: none;
    padding: 0;
  }

  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }

  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
  }

  /* Scheme preference */

  @media (prefers-contrast: more) {
    body {
      background: #000;
      color: #fff;
    }

    h1,
    h2 {
      color: #fff;
    }

    code {
      background: #fff;
      color: #000;
    }
  }

  /* Reduced motion preference */

  @media (prefers-reduced-motion: no-preference) {
    :focus,
    :hover {
      transition: outline-offset 0.25s ease;
      outline-offset: 5px;
    }
  }
}
