@layer reset, variables, global, custom;

@layer global {
  /* Typography */

  @font-face {
    font-family: "GolosUI";
    src: url("/fonts/golos-ui_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "GolosUI";
    src: url("/fonts/golos-ui_regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "PTMonoWeb";
    src: url("/fonts/pt-mono_regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "PTMonoWeb";
    src: url("/fonts/pt-mono_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  /* General */

  body {
    background: light-dark(var(--color-white), var(--color-black));
    color: light-dark(var(--color-black), var(--color-grey-light));
  }

  h1,
  h2,
  h3,
  h4 {
    color: light-dark(var(--color-black), var(--color-white));
    font-family: "GolosUI", sans-serif;
  }

  /* h1 {
    font-size: var(--step-5);
  }
  h2 {
    font-size: var(--step-4);
  } */

  a,
  blockquote,
  ul,
  ol,
  p,
  time {
    font-family: "GolosUI", sans-serif;
    font-size: var(--step-1);
    hyphens: auto;
  }

  code {
    color: light-dark(var(--black), var(--color-yellow));
    font-weight: bold;
    font-family: "PTMonoWeb", monospace;
  }

  body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-size: 100% 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 1.7;
  }
  main {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 3em 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem 0;
    line-height: 1.2;
  }
  h1 {
    font-size: 2.852em;
  }
  h2 {
    font-size: 2.441em;
  }
  h3 {
    font-size: 1.953em;
  }
  h4 {
    font-size: 1.363em;
  }
  h5 {
    font-size: 1.25em;
  }
  strong,
  b {
    font-weight: 700;
  }
  a {
    color: var(--accent);
  }
  a:hover {
    color: var(--accent);
  }
  p {
    margin-bottom: 1em;
  }
  .prose p {
    margin-bottom: 1em;
  }
  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  table {
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  code {
    padding: 2px 5px;
    background-color: light-dark(rgb(var(--gray-light)), rgb(var(--gray-dark)));
  }
  pre {
    padding: 1.5em;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }

  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
  }

  /* Scheme preference */

  @media (prefers-contrast: more) {
    body {
      background: #000;
      color: #fff;
    }

    h1,
    h2 {
      color: #fff;
    }

    code {
      background: #fff;
      color: #000;
    }
  }

  /* Reduced motion preference */

  @media (prefers-reduced-motion: no-preference) {
    :focus,
    :hover {
      transition: outline-offset 0.25s ease;
      outline-offset: 5px;
    }
  }
}
