.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.controls {
  display: flex;
  gap: 1rem;
}

.switch {
  display: flex;
  gap: 0.5rem;
}

@layer {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    font-family: sans-serif;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #root {
    display: grid;
    height: 100%;
  }
}
