---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import logoFull from "../assets/logo-full.svg";
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
        max-width: 100%;
        margin: auto;
        padding: 3em 1em;
      }

      .hero {
        background-color: var(--accent);
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .hero img {
        display: block;
        width: min(600px, 100%);
        margin: 0 auto;
        padding-inline: 1em;
      }
    </style>
  </head>
  <body>
    <SiteHeader />
    <div class="hero">
      <Image src={logoFull} alt="" />
    </div>
    <main>
      <h1 class="sr-only">Журнал «Веб-платформа»</h1>
      <p>
        📍 Журнал о том, как всё устроено в веб-платформе и что происходит в
        индустрии фронтенда
      </p>
      <p>⭐️ Новости, полезные выжимки, находки и напоминания</p>
    </main>
    <Footer />
  </body>
</html>
