---
interface Props {
  breadcrumbs?: {
    url?: string;
    title: string;
  }[];
}

const { breadcrumbs } = Astro.props;
---

<>
  {
    breadcrumbs && (
      <nav class="breadcrumbs">
        {breadcrumbs.map(({ url, title }) => (
          <a href={url}>{title}</a>
        ))}
      </nav>
    )
  }
</>

<style>
  .breadcrumbs {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100vw - 100px);
  }

  .breadcrumbs a {
    color: inherit;
  }

  .breadcrumbs a[href] {
    margin-right: 10px;
  }

  .breadcrumbs a:not(:first-child)::before {
    content: "/";
    margin-right: 10px;
  }

  @media (max-width: 720px) {
    .breadcrumbs a[href],
    .breadcrumbs a:not(:first-child)::before {
      display: none;
    }
  }
</style>
