---
import TrainersLayout from "../layouts/TrainersLayout.astro";
import TextLayout from "../layouts/TextLayout.astro";
import Header from "../components/Header.astro";

import picture from "../assets/congrat.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<TrainersLayout title={title}>
  <Header mode="default" />
  <TextLayout>
    <div class="congrat-container">
      <img src={picture.src} width="250" alt="" />
      <h1>Ура, вы прокачали навык «{title}»!</h1>
      <p>
        Поддержите проект «Плюсы», чтобы совершенствовать и выпускать новые
        тренажёры 🤝
      </p>

      <a
        class="button"
        href="https://pay.cloudtips.ru/p/6dc7f789"
        target="_blank">Поддержать проект</a
      >
    </div>
  </TextLayout>
</TrainersLayout>

<style>
  .congrat-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    height: 100%;
    max-width: 800px;
    text-align: center;
    gap: 2rem;
  }

  .congrat-container p {
    margin: 0;
  }
</style>
