---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} «Веб‑платформа»</p>
  <div class="social-links">
    <SocialLinks type="slate" />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
</style>
