---
const { Content, title } = Astro.props;

import icon from "../assets/icon-close.svg";

const iconPath = `url(${icon.src})`;
const iconWidth = `${icon.width}px`;
const iconHeight = `${icon.height}px`;
---

<dialog class="dialog-menu">
  <button class="close-dialog" type="button">
    <span class="sr-only">Закрыть</span>
  </button>
  <article class="theory-content">
    <h1>{title}</h1>
    <Content />
    <button class="button theory-close-dialog">Начать</button>
  </article>
</dialog>

<style
  define:vars={{
    iconPath,
    iconWidth,
    iconHeight,
  }}
>
  .dialog-menu,
  .dialog-menu[open].dialog-menu--closing {
    position: fixed;
    transition: 0.3s transform;
    margin: 0;
    margin-left: auto;
    min-height: 100vh;
    width: max(500px, 50vw);
    transform: translateX(100%);
  }

  .dialog-menu[open] {
    display: flex;
    margin: 0;
    margin-left: auto;
    flex-direction: column;
    transform: translateX(0);
    z-index: 5;
    padding: 1rem;
    border: none;
  }

  .dialog-menu::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: inherit;
    transition: opacity 0.3s;
  }

  .close-dialog::before {
    content: "";
    display: block;
    width: var(--iconWidth);
    height: var(--iconHeight);
    background-image: var(--iconPath);
  }

  .close-dialog:hover {
    opacity: 0.7;
  }

  .theory-content {
    font-size: 1.15rem;
  }

  .theory-close-dialog {
    height: auto;
    padding: 6px 12px;
  }

  :global(.theory-content h1) {
    padding-right: 30px;
    font-size: 1.5em;
  }

  :global(.theory-content p:has(img)) {
    max-width: max(350px, 50%);
    margin-inline: auto;
  }

  @media (prefers-color-scheme: dark) {
    .close-dialog {
      filter: invert(1);
    }
  }

  @media (max-width: 720px) {
    .dialog-menu[open],
    .dialog-menu[open].dialog-menu--closing {
      width: 100vw;
    }
  }
</style>

<script>
  const dialogMenu = document.querySelector(
    ".dialog-menu"
  ) as HTMLDialogElement;
  const dialogMenuOpenButton = document.querySelector(
    ".open-dialog"
  ) as HTMLButtonElement;
  const dialogMenuCloseButton = document.querySelector(
    ".close-dialog"
  ) as HTMLButtonElement;
  const dialogMenuStartButton = document.querySelector(
    ".theory-close-dialog"
  ) as HTMLButtonElement;

  const onDialogClick = (event: Event) => {
    if (event.target === dialogMenu) {
      closeMenu();
    }
  };

  const openMenu = () => {
    if (!dialogMenu) return;

    dialogMenu.style.display = "flex";
    setTimeout(() => {
      dialogMenu?.showModal();
    }, 100);
  };

  const closeMenu = () => {
    if (!dialogMenu) return;

    dialogMenu.classList.add("dialog-menu--closing");
    setTimeout(() => {
      dialogMenu.close();
      dialogMenu.style.display = "none";
      dialogMenu.classList.remove("dialog-menu--closing");
    }, 100);
  };

  dialogMenuOpenButton.addEventListener("click", openMenu);

  dialogMenuCloseButton.addEventListener("click", closeMenu);
  dialogMenuStartButton.addEventListener("click", closeMenu);

  dialogMenu.addEventListener("click", onDialogClick);

  dialogMenu.showModal();
</script>
