.service-bar {
  position: relative;
  background-color: var(--sp-colors-surface1);
  color: var(--sp-syntax-color-plain);
  font-family: var(--main-font-family);
  font-size: calc(0.85 * var(--main-font-size));
  line-height: var(--main-line-height);

  display: grid;
}

.service-bar-controls {
  display: flex;
  border-top: 1px solid var(--sp-colors-surface2);
  gap: var(--sp-space-2);
  padding-top: var(--sp-space-2);
  padding-bottom: var(--sp-space-2);
  padding-left: var(--sp-space-4);
}

.icon-text-button {
  font-size: var(--sp-font-size) !important;
  font-family: var(--sp-font-body) !important;

  &.disabled {
    color: var(--sp-colors-disabled);
    pointer-events: none;
  }
}

.next-task-button {
  padding: var(--sp-space-3);
  height: var(--sp-space-7);
  border-radius: 99999px;
}

.side-button {
  margin-left: auto;
  margin-right: var(--sp-space-2);
}
