.tutorial-content {
  padding: 0.5rem 1rem;
}

.tutorial-content-title {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: inherit;
}

.tutorial-content-text p {
  margin-block: 0;
}

@media (max-width: 850px) {
  .tutorial-content {
    max-height: 210px;
    overflow: auto;
  }
}
