---
const { frontmatter } = Astro.props;
---

<div class="content-container">
  <h1>{frontmatter.title}</h1>
  <slot />
</div>

<style>
  .content-container {
    max-width: 900px;
    margin-inline: auto;
    margin-block-end: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    :global(.content-container img[src*="svg"]) {
      filter: invert(1);
    }
  }
</style>
