---
const { frontmatter } = Astro.props;
---

<div class="content-container">
  <h1>{frontmatter.title}</h1>
  <slot />
</div>

<style>
  .content-container {
    max-width: 900px;
    margin-inline: auto;
    margin-block-end: 1rem;
  }
</style>
