.goals {
  padding: 0.5rem 2rem;
}

.goals-title {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: inherit;
}

.goals-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goals-list li {
  position: relative;
}

.goals-list li::before {
  content: "☐";

  position: absolute;
  left: -20px;
}

.goals-list li.pass {
  color: var(--pass-color);
}

.goals-list li.fail {
  color: var(--fail-color);
}

.goals-list li.pass::before {
  content: "☑";
}

.goals-list li p {
  margin: 0;
}

.goals-info-button {
  font-size: 1rem;
  width: var(--sp-space-6);
  justify-content: center;
  height: var(--sp-space-6) !important;
  position: absolute;
  left: -28px;
}

.tooltip {
  position: absolute;
  width: fit-content;
  background-color: var(--fail-color);
  color: #fff;
  padding: 5px 10px;
  max-width: 100%;
  z-index: 1;
  white-space: pre-wrap;
  translate: 0% -100%;
}

.tooltip::before {
  content: "";
  border: 7px solid var(--fail-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 10px;
  display: block;
  height: 10px;
  position: absolute;
  bottom: -14px;
  left: 11px;
}

.loader {
  font-family: "PTMonoWeb", monospace;
  font-weight: bold;
  font-size: 1rem;
}

.loader::before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader::after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media (max-width: 850px) {
  .goals {
    max-height: 200px;
    overflow: auto;
  }

  .goals-info-button {
    width: var(--sp-space-5);
    height: var(--sp-space-5) !important;
    left: -25px;
  }
}
