.goals {
  padding: 0.5rem 2rem;
}

.goals-title {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: inherit;
}

.goals-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goals-list li {
  position: relative;
}

.goals-list li::before {
  content: "☐";

  position: absolute;
  left: -20px;
}

.goals-list li.pass {
  color: #2ecc40;
}

.goals-list li.fail {
  color: #c80000;
}

.goals-list li.completed::before {
  content: "☑";
}

.loader {
  font-family: "PTMonoWeb", monospace;
  font-weight: bold;
  font-size: 1rem;
}

.loader::before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader::after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media (max-width: 850px) {
  .goals {
    max-height: 200px;
    overflow: auto;
  }
}
